//variables

//background
$background-color: #2d2d2d;
$background-ligher: #282828;
$background-darker: #242424;

//primary colors
$color-about: #efa836;
$color-services: #4b896f;
$color-portfolio: #aa79f7;
$color-contact: #9ac0e2;

//text
$color-text-white: #fff;
$color-text-grey: #a3a3a3;

//padding & margin
$main-website-padding: 5%;

//scrollbar
$scrollbar-handle-color: #888;
$scrollbar-handle__hover-color: #4b4b4b;
$scrollbar-empty-area-color: #5e5e5e;
